{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<h1>Provider Organisation</h1>
<table>
  <tr>
    <td>Identity</td>
    <td>{{ page.provID }}</td>
  </tr>
  <tr>
    <td>Name</td>
    <td>{{ page.provName }}</td>
  </tr>
  <tr>
    <td>Address</td>
    <td>
    {{ page.provAddressLine1|default_if_none:"" }}</br>
    {{ page.provAddressLine2|default_if_none:"" }}</br>
    {{ page.provAddressLine3|default_if_none:"" }}</bt>
    {{ page.provAddressLine4|default_if_none:"" }}</br>
    {{ page.provAddressLine5|default_if_none:"" }}</br>
    </td>
  </tr>
  <tr>
    <td>Postcode</td>
    <td>{{ page.provPostcode|default_if_none:"" }}</td>
  </tr>
  <tr>
    <td>Latitude and Longitude</td>
    <td>
    {{ page.provLat }},
    {{ page.provLng }}
    </td>
  </tr>
  <tr>
    <td>Telephone</td>
    <td>{{ page.provTel|default_if_none:"" }}</td>
  </tr>
  <tr>
    <td>Email</td>
    <td>{{ page.provEmail|default_if_none:"" }}</td>
  </tr>
  <tr>
    <td>Website</td>
    <td>{{ page.provWeb|default_if_none:"" }}</td>
  </tr>
</table>
{% endblock %}
