{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<h1>Provider Organisation</h1>
<table>
  <tr>
    <th>Identity</th>
    <td>{{ page.provID }}</td>
  </tr>
  <tr>
    <th>Name</th>
    <td>{{ page.provName }}</td>
  </tr>
  <tr>
    <th>Address</th>
    <td>
    {{ page.provAddressLine1|default_if_none:"" }}</br>
    {{ page.provAddressLine2|default_if_none:"" }}</br>
    {{ page.provAddressLine3|default_if_none:"" }}</bt>
    {{ page.provAddressLine4|default_if_none:"" }}</br>
    {{ page.provAddressLine5|default_if_none:"" }}</br>
    </td>
  </tr>
  <tr>
    <th>Postcode</th>
    <td>{{ page.provPostcode|default_if_none:"" }}</td>
  </tr>
  <tr>
    <th>Latitude and Longitude</th>
    <td>
    {{ page.provLat }},
    {{ page.provLng }}
    </td>
  </tr>
  <tr>
    <th>Telephone</th>
    <td>{{ page.provTel|default_if_none:"" }}</td>
  </tr>
  <tr>
    <th>Email</th>
    <td>{{ page.provEmail|default_if_none:"" }}</td>
  </tr>
  <tr>
    <th>Website</th>
    <td>{{ page.provWeb|default_if_none:"" }}</td>
  </tr>
</table>
{% endblock %}
